<footer>
	<div class="container text-center grid gap--md pd-b--md fs--sm">
		<p>Made by Markus Finell</p>
		<ul role="list" class="flex center gap--lg">
			<li><a href="mailto:finell.markus@gmail.com" target="_blank">E-mail</a></li>
			<li><a href="https://github.com/markusfinell" target="_blank">Github</a></li>
			<li><a href="https://codepen.io/mfinell" target="_blank">Codepen</a></li>
			<li><a href="https://linkedin.com/in/markus-finell/" target="_blank">Linkedin</a></li>
			<li><a href="https://strava.com/athletes/markusfinell" target="_blank">Strava</a></li>
		</ul>
	</div>
</footer>