{% for style in site.styles.global %}
	<link rel="preload" href="/assets/css/1-global/{{ style }}.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
	<noscript><link rel="stylesheet" href="/assets/css/1-global/{{ style }}.css" /></noscript>
{% endfor %}

{% for style in site.styles.layout %}
	<link rel="preload" href="/assets/css/2-layout/{{ style }}.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
	<noscript><link rel="stylesheet" href="/assets/css/2-layout/{{ style }}.css" /></noscript>
{% endfor %}

{% for style in site.styles.utilities %}
	<link rel="preload" href="/assets/css/3-utilities/{{ style }}.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
	<noscript><link rel="stylesheet" href="/assets/css/3-utilities/{{ style }}.css" /></noscript>
{% endfor %}

{% for style in site.styles.blocks %}
	<link rel="preload" href="/assets/css/4-blocks/{{ style }}.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
	<noscript><link rel="stylesheet" href="/assets/css/4-blocks/{{ style }}.css" /></noscript>
{% endfor %}