div.highlighter-rouge {
	position: relative;
	width: calc(1.25 * var(--content-width));
	max-width: 100%;
}

code {
	font-family: var(--font--mono);
	font-size: var(--size--sm);
	line-height: 1.2;
	display: block;
}

code.language-plaintext {
	background-color: #ddd;
	padding-inline: .2em;
	display: inline-block;
	font-size: inherit;
}

div.highlight {
	padding: var(--size--lg);
	background-color: var(--color--black);
}

pre.highlight {
	margin: 0;
	color: var(--color--white);
	overflow: auto;
}

div.highlighter-rouge > button {
	position: absolute;
	top: .5em;
	right: .5em;
}

.code-copied-alert {
	position: absolute;
	top: var(--size--xs);
	left: var(--size--xs);
	width: calc(100% - var(--size--xs) * 2);
	height: calc(100% - var(--size--xs) * 2);
	border-radius: 4px;
	background-color: rgba(255,255,255,0.95);
	color: var(--color--blue);
	justify-content: center;
	align-items: center;
	display: none;
}

div.highlighter-rouge[data-copied="true"] .code-copied-alert {
	display: flex;
	animation: flash 2s ease-in-out forwards;
}

@keyframes flash {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.language-php .c1 {
	color: #6A955B;
}

.language-php .k {
	color: #549DD2;
}

.language-php .n,
.language-php .nb,
.language-php .nf {
	color: #DDDCAF;
}

.language-php .nv {
	color: #9CDCFB;
}

.language-php .s1 {
	color: #CE927B;
}