body {
	border-block: .35em solid var(--color--blue);
}

body[data-transitions="disabled"],
body[data-transitions="disabled"] *,
body[data-transitions="disabled"] *:before,
body[data-transitions="disabled"] *:after {
	transition: none;
}

figure img {
	width: 100%;
	height: auto;
}

a {
	display: inline-block;
	position: relative;
	transition: var(--transition);
	transition-property: color, text-underline-offset;
	text-underline-offset: 3px;
}

a:hover {
	color: var(--color--blue);
	text-underline-offset: 1px;
}

[role="link"],
[role="link"]:hover {
	text-decoration: none;
	color: inherit;
}

nav a {
	text-decoration: none;
}

main {
	min-height: 100vh;
}

.region {
	padding-block: var(--size--xl);
}