body {
	font-family: var(--font--sans);
	font-size: var(--size--md);
	line-height: 1.5;
}

h1 {
	font-size: var(--size--2-xl);
}

h2 {
	font-size: var(--size--lg);
}

h3 {
	font-size: var(--size--md);
}

h4 {
	font-size: var(--size--md);
}

.text-center {
	text-align: center;
}