<!doctype html>
<html lang="en">
	{% include head.html %}
  
  <body>
		<header>
			<div class="container-lg flex between pd-b--sm">
				<div>
					<h1 class="fs--lg"><a href="/" role="link">{{ site.title }}</a></h1>
				</div>
				<nav class="flex gap--md">
					<a href="/">Home</a>
					<a href="/blog/">Blog</a>
				</nav>
			</div>
		</header>
		<main class="pd-b--3-xl">
			<div class="container-sm">
				{{ content }}
			</div>
		</main>
    <footer>
      <div class="container-lg flex center pd-b--sm fs--sm">
				<p>Made by Markus Finell</p>
<div class="flex gap--lg"><a href="mailto:finell.markus@gmail.com">E-mail</a></div>
			</div>
    </footer>
  </body>
</html>