.pd-b--sm {
	padding-block: var(--size--sm);
}

.pd-b--md {
	padding-block: var(--size--md);
}

.pd-b--lg {
	padding-block: var(--size--lg);
}

.pd-b--xl {
	padding-block: var(--size--xl);
}

.pd-b--2-xl {
	padding-block: var(--size--2-xl);
}

.pd-b--3-xl {
	padding-block: var(--size--3-xl);
}