[class*="container"] > * {
	display: block;
	margin-inline: auto;
	width: calc(100vw - var(--size--lg) * 2);
	max-width: var(--content-width);
}

.container--wide > * {
	max-width: var(--wide-width);
}

[class*="container"] > .stretch {
	max-width: var(--wide-width);
}

[class*="container"] > .stretch--full {
	max-width: none;
}